*.obj
*.sty
*.stl
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*mtl

*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.sln
*.csproj
*.info
*.bin

_out/
_tmp/
Externals/
Library/
Temp/
Hidden/
obj/
UnityChan/
.vs/

\.DS_Store
